body{
    background-color: 3E77B6;
}
.contenedor{
    background-color: cornflowerblue;
    padding-left: 26;
}
.ct{
    background-color: rgb(79, 216, 216);
    padding: 12;
    display: flex;
    justify-content: center;
}